#bloc {
    position: relative;
    background-color: rgb(164, 19, 243);
    width: 300px;
    height: 400px;
    margin: auto;
    transition: background-color 0.3s ease;
}


@media (max-width: 500px) {
    #bloc {
        background-color: #1835f6;
    }
}

.exo-render.exo-border-container {
    margin: 20px;
    padding: 20px;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.consigne-exo1 {
    text-align: center; 
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 10px 20px; 
}
