.render-box-content.exo-border-container {
    padding: 20px;
    background-color: white;
}

#container-exo1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px 1fr 100px 50px 50px;
    grid-template-areas:
        "item1 item1 item1"
        "item2 item5 item5"
        "item2 item6 item7"
        "item2 item6 item8"
        "item2 item3 item3"
        "item4 item4 item4";
    height: 80vh;
    gap: 8px;
    background-color: rgb(240, 80, 240);
}

.item1 { background:#F16B08; grid-area:item1; }
.item2 { background:#B2F109; grid-area:item2; }
.item3 { background:#23F109; grid-area:item3; }
.item4 { background:#3050F0; grid-area:item4; }
.item5 { background:#FBB5E9; grid-area:item5; }
.item6 { background:#0AF1AD; grid-area:item6; }
.item7 { background:#E8F571; grid-area:item7; }
.item8 { background:#31838F; grid-area:item8; }
