.grid-ex3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "b7 b7 b7 b7 b6"
        "b8 b3 b3 b2 b6"
        "b8 b4 b1 b2 b6"
        "b8 b4 b5 b5 b5"
        "b8 b9 b9 b9 b9";
    max-width: 600px;
    aspect-ratio: 1 / 1;
    margin: auto;
    gap: 2px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.box span {
    width: 100px;
    height: 100px;
    font-size: 50px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b1 { background:#F16B08; grid-area:b1; }
.b2 { background:#B2F109; grid-area:b2; }
.b3 { background:#23F109; grid-area:b3; }
.b4 { background:#3050F0; grid-area:b4; }
.b5 { background:#FBB5E9; grid-area:b5; }
.b6 { background:#0AF1AD; grid-area:b6; }
.b7 { background:#E8F571; grid-area:b7; }
.b8 { background:#31838F; grid-area:b8; }
.b9 { background:rgb(110,180,228); grid-area:b9; }
